---
import BaseLayout from '../layouts/BaseLayout.astro'
import "../styles/global.css";
import {ComingSoon} from '../components/ComingSoon.tsx'
import HeroSearch from '../components/HeroSearch.tsx'

---

<BaseLayout title="Jesselson Kaplan American Genizah Project" description="Search historical letters, people, and places across collections.">
<!--	<HeroSearch client:load />-->
	<div class="bleed">
	<ComingSoon client:only="react"/>
	</div>
</BaseLayout>