---
const navItems = [
    { name: "Home", href: "/" },
    { name: "About", href: "/about" },
  /*  { name: "Search", href: "/search" },
    { name: "Map", href: "/map" },
    { name: "Timeline", href: "/contact" },*/
];
---

<nav class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700">
    <div class="max-w-screen-xl mx-auto px-4 py-3 flex items-center justify-between">
        <a href="/" class="flex items-center space-x-3">
            <img src="../../src/assets/BlackLogo.svg" class="h-12 w-auto" alt="Genizah Logo" />
            <span class="sr-only">Jesselson-Kaplan American Genizah Project</span>
        </a>

        <button
                data-collapse-toggle="navbar-default"
                type="button"
                class="inline-flex items-center p-2 text-sm text-gray-700 dark:text-gray-300 md:hidden rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-600"
                aria-controls="navbar-default"
                aria-expanded="false"
        >
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </button>

        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col md:flex-row md:items-center space-y-2 md:space-y-0 md:space-x-6 bg-gray-50 md:bg-transparent p-4 md:p-0 rounded-lg md:rounded-none shadow md:shadow-none dark:bg-gray-800 md:dark:bg-transparent">
                {navItems.map(item => (
                        <li>
                            <a
                                    href={item.href}
                                    class="block py-2 px-3 rounded-md text-gray-800 dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-900"
                            >
                                {item.name}
                            </a>
                        </li>
                ))}
            </ul>
        </div>
    </div>
</nav>